# Dependencies
node_modules/
**/node_modules/

# Next.js
.next/
out/

# Build outputs
dist/
coverage/
coverage.json
types/

# Hardhat
artifacts/
cache/

# Env files
.env
.env.*
**/.env
**/.env.*

# Misc
.DS_Store
*.log

